.app {
  padding: 150px 50px 50px;

  &__description {
    font-size: 36px;
    line-height: 36px;
    text-align: center;
  }

  &__image-container {
    display: flex;
  }

  &__image {
    max-width: 100%;
    margin: auto;
  }
}
